body {
  font-family: 'Lora', serif;
  font-weight: 300;
}
h1 {
  /*background: #F7F9Fc;*/
  color: darkgreen;
  font-size: 45px;
  font-weight: lighter;
  margin-top: 0;
}
h2{
  color: darkgreen;
font-weight: heavier;

}
.btn-blue {
    background-color: #6B72E1;
    color: white;
    padding: 20px 20px;
    border-radius: 4px;

}
#follow:hover
{
  background-color:grey;
  align-items: center;
}
h3{
  color:darkgreen;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card {
  background-color: ivory;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  padding: 2em;
  width: 40%;
  margin: 0.5em;
  box-shadow: 1px 4px 7px 2px #464646;

}

.img-circle {
    border-radius: 50%;
    object-fit: cover;
}
.list-inline i {
    font-size: 50px;
    color: rgb(230, 230, 230);
    letter-spacing: 50px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
